@media (min-width: 320px) {
    .container {
        width: 100%;

    }
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
        width: 100%;
        padding: 0 !important;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
        width: 100%;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
        width: 100%;

    }

    .menu-toggle {
        display: none;
    }


}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
        width: 100%;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1105px;

        width: 100%;
    }
}

@media (max-width: 1999px) {}

@media (max-width: 991px) {

    .header-list {
        display: flex !important;
        flex-direction: column !important;
        position: fixed !important;
        background-color: aqua !important;
        top: 0 !important;
        right: -100% !important;
        row-gap: 10px !important;
        padding: 20px 20px !important;
        height: 100vh !important;
    }



    .menu-toggle:focus+.header-list {
        right: 0 !important;
    }

    .header-btn {
        display: flex;
        order: -1;
    }

    .python-right img {
        width: 100%;
    }




    .sell-wrapper {
        display: flex;
        flex-direction: column !important;
        row-gap: 20px !important;
    }

    .sell-title,
    .sell-text {
        text-align: center;
    }

    .sell-btn {
        justify-content: center;
        display: flex;
    }

    .future-green-wrap {
        display: flex !important;
        flex-wrap: wrap !important;
        justify-content: center !important;
        row-gap: 10px !important;

    }

    .build-right-box img {
        width: 100% !important;
        right: 0 !important;
    }

    .schedule-title {
        text-align: center;
    }

    .sell-imgs {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .schedule-wrapper {
        display: flex;
        justify-content: center;
    }

    .build-right {
        display: flex;
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);



    }


    .python-wrapper {
        display: flex !important;
        flex-direction: column !important;
        row-gap: 20px !important;
    }

    .build-right-box img {
        width: 100% !important;

    }

    .build-boxxer {
        display: flex;
        flex-direction: column;
    }

    .build-text,
    .build-subtitle {
        text-align: center;
    }

    .build-btn2 {
        justify-content: center;
        display: flex;
    }

    .future-boxxer {
        display: flex !important;
        flex-direction: column !important;
    }

    .future-box {
        display: flex !important;
        flex-direction: column !important;
        row-gap: 10px;

    }

    .future-title,
    .future-text {
        text-align: center;
    }


    .footer-bottom-section {
        display: flex;
        column-gap: 20px;
    }

    .footer-title-wrapper {
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        row-gap: 20px;
    }


    .footer-a-wrap {
        display: flex;
        justify-content: center;

    }

    .footer-textt {
        display: flex;
        justify-content: center;
    }






}

@media (max-width: 765px) {
    .sell-right img {
        width: 100%;

    }

    .schedule-wrapper {
        display: flex;
        flex-direction: column !important;
        row-gap: 20px;
    }



    .future-box {
        display: flex !important;
        flex-direction: column !important;
        row-gap: 10px;
    }

    .build-boxxer {
        display: flex !important;
        flex-direction: column !important;
    }

    .build-text,
    .build-subtitle {
        text-align: center;
    }

    .build-btn2 {
        display: flex !important;
        justify-content: center !important;
    }

    .pyathon-right {
        margin-top: 20px !important;
        width: 100%;
    }


    .future-green-wrap {
        display: flex !important;
        justify-content: center;
        padding: 0;
    }

    

    .build-right-box img {
        position: relative !important;
        top: 0 !important;
        right: 0 !important;
    }

    .python-wrapper {
        display: flex !important;
        flex-direction: column !important;
    }

    .build-right-box img {
        width: 100% !important;
    }



    .story-main-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
    }







}

@media (max-width: 575px) {
    .build-right {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center !important;
        display: flex !important;
        flex-direction: column !important;
    }

    .header-nav {
        display: flex !important;
        column-gap: 30px !important;
    }

    .future-boxxer {
        padding: 20px 20px !important;
    }

    .future-title {
        text-align: center !important;
    }

    .future-text {
        text-align: center !important;
    }

    .sell-title {
        font-size: 50px !important;
    }

    .schedule-left-boxxer img {
        width: 100% !important;
    }

    .schedule-left-title img {
        display: none;

    }

    .back-btns {
        display: flex !important;
        flex-direction: column !important;
        row-gap: 20px;
    }

    .footer-main-section {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr) !important;
        padding: 0 10px;

    }


    .footer-title-wrapper {
        display: flex;
        flex-direction: column;
        row-gap: 20px;


    }

    .footer-a {
        text-align: center;
    }

    .footer-b,
    .story-title {
        text-align: center;
    }

    .footer-bottom-section {
        display: flex;
        flex-direction: column;
        row-gap: 20px;

      

    }


    .future-section {
        padding: 0 !important;
        padding-top: 100px !important;
        padding-bottom: 100px !important;
    }


    .sell-buttonn {
        display: flex;
        justify-content: center;
    }

    .build-text {
        text-align: center;
    }

    .footer-btn {
        padding: 5px 5px !important;
    }

    .python-text {
        text-align: center;
    }

    .python-title {
        text-align: center !important;
        

    }

    .python-btn-wrap {
        display: flex;
        justify-content: center;
    }

    .python-subtitle-wrap {
        display: flex;
        justify-content: center;

    }

    .footer-bottom-aaa {
        text-align: center !important;
    }

    .footer-bottom-aa-wrap {
        display: flex;
        justify-content: center;
    }

    .pyathon-right {
        width: 100%;
    }

    
    .python-right-imgg {
        width: 100%;
    }  
    

    .build-bottom-wrapper {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }


    .schedule-title {
        font-size: 45px;
    }

    .schedule-second-wrap .schedule-second-text3 {
        padding-right: 123px;
    }

    .schedule-second-wrap .schedule-second-text1 {
        padding-right: 107px;

}

.build-box {
    padding: 0;
}

.sell-text {
    font-size: 13px !important;
}

}